@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Manrope:wght@700&family=Roboto+Mono:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/Home\ Page\ -\ HIFI.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: white;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #21074a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-bar-content {
  margin: auto;
  max-width: 1280px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem;
}

.navbar-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.navbar-text-currency {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.dd-button {
  background-color: #6874e8 !important;
}

.dropdown:hover {
  background-color: #6874e8;
  color: white;
}

.mycontainer {
  margin: auto;
  max-width: 1280px;
}

.hero {
  height: auto;
  width: 100%;
  margin-top: 14rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero-heading {
  font-family: "Manrope", sans-serif;
  font-size: 4.875rem;
  line-height: normal;
  height: auto;
}

.phone {
  margin-bottom: 5rem;
}

.button-section {
  display: inline-block;
}

.buttons {
  background-color: #6874e8 !important;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.buttons-offcolor {
  padding: 12px 30px;
  box-shadow: 0 0 0 0, inset 0 0 0 2px #6874e8;
  font-size: 1.2rem;
}

.buttons:hover {
  transition: all 0.5s ease;
  background-color: #21074a !important;
}

.buttons-offcolor:hover {
  transition: all 1s ease;
  background-color: #6874e8 !important;
}

.phone {
  width: 496px;
  height: 438.06px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crypto-logo {
  height: 90px;
  width: 90px;
}

.crypto-top-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.crypto-name,
.crypto-name-table {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.crypto-24h,
.crypto-24h-table {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.crypto-name-table {
  margin-left: 0.75rem;
}

.crypto-price,
.crypto-mktcap,
.crypto-price-table,
.crypto-mktcap-table {
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
}

.market-nav-placeholder {
  margin-top: 12rem;
  height: 1px;
}

.market-section {
  margin-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.market-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.coinstack {
  height: 75px;
  width: 100px;
  transform: translateY(-20px);
}

.market-top-bar {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  background: linear-gradient(25deg, #6874e8, #aa7df2);
  padding: 10px 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.logo-small {
  height: 40px;
  width: 40px;
}

.table-item,
.table-item-name,
.table-item-price,
.table-item-24h {
  flex: 1 1 0;
  width: 0;
}

.table-item-end {
  flex: 1 1 0;
  width: 0;
  text-align: right;
}

.table-item-center {
  flex: 1 1 0;
  width: 0;
  text-align: center;
}

.market-nav-btn {
  background-color: #6874e8;
  padding: 8px 16px;
  border-radius: 50%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.market-nav-btn:hover {
  background: linear-gradient(25deg, #aa7df2, #aa79ea);
}

@media (max-width: 1280px) {
  .hero-heading {
    font-size: 4.2rem;
  }

  .mycontainer {
    max-width: 1000px;
  }

  .nav-bar-content {
    max-width: 1000px;
  }

  .crypto-top-4 {
    margin-top: 5rem;
  }

  .phone {
    width: 440px;
    height: 390px;
  }
}

@media (max-width: 1024px) {
  .hero-heading {
    font-size: 3.3rem;
    line-height: 1.5;
  }

  .mycontainer {
    max-width: 850px;
  }

  .nav-bar-content {
    max-width: 800px;
  }

  .navbar-text {
    margin-right: 20px;
  }

  .crypto-top-4 {
    margin-top: 5rem;
  }

  .crypto-logo {
    height: 70px;
    width: 70px;
  }

  .phone {
    width: 380px;
    height: 336px;
  }
}

@media (max-width: 850px) {
  .hero-heading {
    font-size: 2.8rem;
    line-height: 1.7;
  }

  .mycontainer {
    max-width: 720px;
  }

  .nav-bar-content {
    max-width: 680px;
  }

  .phone {
    width: 320px;
    height: 283px;
  }

  .buttons,
  .buttons-offcolor {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .crypto-logo {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 768px) {
  .mycontainer {
    max-width: 640px;
    margin: auto;
  }

  .nav-bar-content {
    max-width: 600px;
  }

  .hero-heading {
    font-size: 2.8rem;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    margin-top: 10rem;
  }

  .hiddenbreak {
    display: none;
  }

  .button-section {
    margin-bottom: 5rem;
    gap: 1.5rem;
  }

  .phone {
    width: 240px;
    height: 200px;
    transform: translateY(-40px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .crypto-top-4 {
    margin-top: 0;
  }

  .crypto-name,
  .crypto-24h,
  .crypto-price {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 1.4rem;
  }

  .navbar-text {
    display: none;
  }

  .hero {
    flex-direction: column;
    margin-top: 10rem;
  }

  .hero-heading {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .mycontainer {
    margin: auto;
    max-width: 500px;
  }

  .phone {
    height: 60%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  .hiddenbreak {
    display: block;
  }

  .button-section {
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .buttons,
  .buttons-offcolor {
    font-size: 0.9rem;
    padding: 15px 80px;
    margin-top: 1rem;
  }

  .crypto-top-4 {
    flex-wrap: wrap;
    gap: 1.8rem;
  }

  .card {
    margin-bottom: 1.5rem;
    flex: 1 1 0;
  }

  .crypto-logo {
    height: 70px;
    width: 70px;
  }

  .crypto-name,
  .crypto-24h,
  .crypto-price {
    font-size: 1.1rem;
  }

  .market-section {
    margin-top: 0;
  }

  .market-title {
    font-size: 2.5rem;
  }

  .coinstack {
    height: 45px;
    width: 60px;
    transform: translateY(-10px);
  }

  .crypto-name-table,
  .crypto-24h-table,
  .crypto-price-table,
  .crypto-mktcap-table {
    font-size: 0.75rem;
  }

  .crypto-name-table {
    margin-left: 0.5rem;
    flex: 2;
  }

  .table-item-price {
    margin-left: 1.5rem;
  }

  .table-item-24h {
    margin-left: 2.2rem;
  }

  .crypto-price-table {
    margin-left: 1.5rem;
  }

  .crypto-24h-table {
    margin-left: 2rem;
  }

  .logo-small {
    height: 25px;
    width: 25px;
  }

  .market-top-bar {
    font-size: 1rem;
  }

  @media (max-width: 430px) {
    .hero-heading {
      font-size: 2.8rem;
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
    }

    .crypto-name,
    .crypto-24h,
    .crypto-price {
      font-size: 1rem;
    }

    .market-title {
      font-size: 2rem;
    }

    .buttons,
    .buttons-offcolor {
      font-size: 0.9rem;
      padding: 15px 60px;
    }
  }
}
